html
  head
    link(rel='stylesheet' href='css/index.css')
    link(rel='stylesheet' href='css/hl.min.css')
    script(src='js/hl.min.js')
    script(src='js/markdown-it.min.js')
    script(src='js/index.js')
  body
